#-e git://github.com/gdemarcsek/aalight.git@80c856b54effa159e7903732883782959a5b80c7#egg=apparmor_light
click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
boto3
