-e git://github.com/gdemarcsek/aalight.git@9667dae7545bd761806cd622ab0ca73ff23f6eb9#egg=apparmor_light
click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
